<div class="row">
    <div class="title">
        <input type="checkbox" [checked]="item.completed">
        {{item.title}}
    </div>
    <div class="price">
        {{item.price | currency}}
    </div>
    <div class="quantity">
        {{item.quantity}}
    </div>
    <div class="total">
        {{(item.price * item.quantity) | currency}}
    </div>
    <div class="actions">
        <button (click)="onDelete(item)">Eliminar</button>
    </div>
</div>
